@keyframes loaderAnim {
    0% { transform: translateX(0); }
    20% { transform: translateX(-10vw); }
    40% { transform: translateX(-12vw); }
    60% { trasnform: translateX(10vw); }
    80% { transform: translateX(12vw); }
    100% { transform: translateX(0); }
}

.loader {
    position: relative;
    top: 0; left: 0;
    width: 100%;
    min-height: 40vh;
}

.loadingAnimWrapper {
    animation-name: loaderAnim;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 0s;
}   